<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estiloP.css">
</head>
<body>
    <header class="header">
		<div class="menu container">
			<a href="#" class="logo">Logo</a>
			<input type="checkbox" id="menu"/>
			<label for="menu">
				<img src="images/menu.png" class="menu-icono" alt=""/>
			</label>
			<nav class="navbar">
				<ul>
					<li><a href="#">Inicio</a>
						<ul class="menu-vertical">
							<li><a href="#"> vacio</a></li>
						</ul>
					</li>
					<li><a href="#">Suscripción</a>
						<ul class="menu-vertical">
							<li><a href="#"> Suscribirse</a></li>
							<li><a href="/inicios/ingreso"> Iniciar sesión</a></li>
						</ul>
					</li>
					<li><a href="#">Servicios</a>
						<ul class="menu-vertical">
							<li><a href="#"> Tickets/Reservas</a></li>
							<li><a href="#"> Eventos</a></li>
							<li><a href="#"> Contactos</a></li>
						</ul>
					</li>
					<li><a href="#">Donaciones</a></li>
				</ul>
			</nav>
		</div>
        
		<div class="header-content container">
			<h1>Zoologico Ecuador</h1>
			<p>
				En los últimos años, muchos zoológicos han evolucionado
				hacia el concepto de conservación y bienestar animal, 
				enfocándose en proporcionar cuidado y enriquecimiento 
				para los animales, promoviendo prácticas sostenibles y éticas, 
				y trabajando en colaboración con instituciones y organizaciones 
				dedicadas a la conservación y la protección del medio ambiente.
			</p>
			<a href="#" class="btn-1">Información</a>
		</div>
	</header>
	
	
    
</body>
</html>