<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<link rel="stylesheet" href="/css/estiloI.css" type="text/css">
	<title>Ingreso</title>
</head>
<body>
	<header class="header">
	    <h2><a href="/inicios/principal" class="logo"></a></h2>
	</header>
    <div class="container-page" id="Container">
        <div class="login-container" id="LoginContainer">
            <h1 class="title">Cuenta</h1>
            <form th:action="@{/clientes/usuario}" th:object="${cliente}" th:method="GET">
            
                <div class="input-line-container">
                    <span class="name-input">Correo</span>
                    <input type="text" name="Correo con el que se registro" class="input-line" id="correo" th:field="${cliente.correo}">
                </div>
                <div class="input-line-container">
                    <span class="name-input">Contraseña</span>
                    <input type="password" name="Contraseña" class="input-line" id="contrasenia" th:field="${cliente.contrasenia}">
                </div>
                <input type="submit" value="Ingresar" class="button-login">
                <div id="pregunta" class="link">
                	<p>¿No tienes cuenta?</p>
                </div>
                <div id="registrar" class="link">
                	<ul>
						<li><a href="/clientes/registro">Registrate aqui</a></li>
					</ul>
                </div>
            </form>
        </div>
    </div>
    
    <div th:if="${showWarning}" class="popup" id="popup">
        <div class="popup-contenido">
            <h2>¡Advertencia!</h2>
            <p>El Correo o la Contraseña introducidad es INCORRECTA!!</p>
            <button id="cerrarPopup">Cerrar</button>
        </div>
    </div>
    
    <script th:if="${showWarning}">
        document.addEventListener("DOMContentLoaded", function() {
            // Obtener referencias a los elementos necesarios
            var popup = document.getElementById("popup");
            var cerrarPopup = document.getElementById("cerrarPopup");

            // Mostrar la ventana emergente
            popup.style.display = "block";

            // Cerrar la ventana emergente al hacer clic en el botón "Cerrar"
            cerrarPopup.addEventListener("click", function() {
                popup.style.display = "none";
            });
        });
    </script>
    
</body>

</html>