<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<link rel="stylesheet" href="/css/estiloInfoAnimal.css" type="text/css">
	<title>Animales del Zoológico - Zoológico Naturaleza Viva</title>
</head>
<body>
    <header>
    	<h1><a href="/inicios/principal" class="logo"></a></h1>
    </header>
	
    <section class="animal-mamifero">
    	<h1>Catálogo de Animales</h1>
        <h2>Mamíferos</h2>
        <div class="animal">
            <h3>Jaguar</h3>
            <h4 class="img-jaguar"></h4>
            <p>El jaguar es uno de los felinos más emblemáticos de la fauna ecuatoriana. Su pelaje amarillo con manchas negras lo hace fácilmente reconocible.</p>
            <p>Estado de conservación: Varía en diferentes áreas de su rango, pero en general está clasificado como "Casi Amenazado" en la Lista Roja de la UICN debido a la pérdida de hábitat y la caza ilegal.</p>
        </div>
        <div class="animal">
            <h3>Oso de Anteojos</h3>
            <h4 class="img-anteojos"></h4>
            <p>El oso de anteojos es el único oso nativo de Sudamérica y es considerado un símbolo de la biodiversidad de la región andina.</p>
            <p>Estado de conservación: Catalogado como "Vulnerable" en la Lista Roja de la Unión Internacional para la Conservación de la Naturaleza (UICN) debido a la pérdida de su hábitat y la caza ilegal.</p>
        </div>
        <!-- Otros mamíferos -->

    </section>

    <section class="animal-reptil">
        <h2>Reptiles</h2>
        <div class="animal">
            <h3>Tortuga Galápagos</h3>
            <h4 class="img-tortuga"></h4>
            <p>La tortuga gigante de las Galápagos es una especie icónica y única en el mundo, conocida por su longevidad y tamaño impresionante.</p>
            <p>Estado de conservación: Estuvieron en grave peligro de extinción en el pasado debido a la caza y la introducción de especies invasoras. Sin embargo, gracias a los esfuerzos de conservación, algunas subespecies han logrado mejoras en su estado y se han mantenido fuera del peligro inmediato de extinción.</p>
        </div>
        <div class="animal">
            <h3>Iguana Marina</h3>
            <h4 class="img-iguana"></h4>
            <p>La iguana marina es endémica de las Islas Galápagos y es famosa por su capacidad para nadar en aguas frías.</p>
            <p>Estado de conservación: Está clasificada como "En Peligro" en la Lista Roja de la UICN debido a su distribución limitada y amenazas como la introducción de especies invasoras.</p>
        </div>
        <!-- Otros reptiles -->

    </section>

    <section class="animal-ave">
        <h2>Aves</h2>
        <div class="animal">
            <h3>Cóndor Andino</h3>
            <h4 class="img-condor"></h4>
            <p>El cóndor andino es una de las aves voladoras más grandes del mundo y es un símbolo de la libertad y la majestuosidad de los Andes.</p>
            <p>Estado de conservación: Se considera "Casi Amenazado" en la Lista Roja de la UICN.</p>
        </div>
        <div class="animal">
            <h3>Tucán de Pico Arcoíris</h3>
            <h4 class="img-tucan"></h4>
            <p>El tucán de pico arcoíris es conocido por su colorido y distintivo pico, que contrasta con su plumaje negro.</p>
            <p>Estado de conservación: Esta especie específica de tucán no aparece en la Lista Roja de la UICN, lo que puede indicar que no está directamente amenazada.</p>
        </div>
        <!-- Otras aves -->

    </section>

    <footer>
        <p>&copy; 2023 Zoológico Naturaleza Viva - Todos los derechos reservados</p>
    </footer>
</body>
</html>