<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<link rel="stylesheet" href="/css/estiloLE.css" type="text/css">
	<title>Menu desplegable</title>
</head>
<body>
    <header>
        <h1><a href="/inicios/principal" class="logo"></a></h1>
    </header>
    <section class="event-description">
    	<h1>Liberación de Especies</h1>
        <div class="event-purpose">
            <h2>Propósito del Evento</h2>
            <p>Únete a nosotros en nuestra emocionante Liberación de Especies, donde trabajamos para devolver animales rescatados a su hábitat natural. Nuestro objetivo es contribuir a la preservación de la biodiversidad y sensibilizar a los visitantes sobre la importancia de la conservación.</p>
        </div>
        <div class="event-content">
            <h2>Contenido del Evento</h2>
            <p>La Liberación de Especies es una experiencia educativa y conmovedora. Comenzaremos con charlas informativas sobre las especies que serán liberadas y su historia. Luego, participarás en la liberación en sí, donde podrás ver de cerca cómo estos animales regresan a su hogar.</p>
        </div>
        <div class="event-highlights">
            <h2>Características Destacadas</h2>
            <p>Destacamos el contacto cercano con los profesionales que participan en la liberación y la oportunidad de hacer preguntas. También resaltamos la alegría de presenciar el momento en que estos animales regresan a la naturaleza y la contribución directa que haces a la conservación.</p>
        </div>
        <div class="event-benefits">
            <h2>Beneficios para los Visitantes</h2>
            <p>Participar en la Liberación de Especies no solo es una experiencia emocionante, sino que también te permite ser parte activa en la preservación del medio ambiente. Aprendes sobre la importancia de la rehabilitación y la devolución de animales a su hábitat, y te llevas un sentimiento de satisfacción por contribuir a un mundo más sostenible.</p>
        </div>
    </section>
    <footer>
        <p>&copy; 2023 Zoológico Naturaleza Viva. Todos los derechos reservados.</p>
    </footer>
</body>
</html>