<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<link rel="stylesheet" href="/css/estiloI.css" type="text/css">
	<title>Ingreso & Registro</title>
</head>
<body>
    <div class="container-page" id="Container">
        <div class="login-container" id="LoginContainer">
            <h1 class="title">Cuenta</h1>
            <form action="">
                <div class="input-line-container">
                    <span class="name-input">Usuario</span>
                    <input type="text" name="Nombre de usuario" class="input-line" id="">
                </div>
                <div class="input-line-container">
                    <span class="name-input">Contraseña</span>
                    <input type="password" name="Contraseña" class="input-line" id="">
                </div>
                <input type="button" value="Ingresar" class="button-login">
                <div id="Registrar" class="button-second">Registrar</div>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="code.js"></script>
</body>

</html>