<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<link rel="stylesheet" href="/css/estilo.css" type="text/css">
	<title>Animales del Zoológico - Zoológico Naturaleza Viva</title>
</head>
<body>
    <header>
        <h1>Zoológico Naturaleza Viva</h1>
        <nav>
            <ul>
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="animales.html">Animales</a></li>
                <!-- Otros enlaces de navegación -->
            </ul>
        </nav>
    </header>

    <section class="animal-category">
        <h2>Mamíferos</h2>
        <div class="animal">
            <h3>Jaguar</h3>
            <p>El jaguar es uno de los felinos más emblemáticos de la fauna ecuatoriana. Su pelaje amarillo con manchas negras lo hace fácilmente reconocible.</p>
        </div>
        <div class="animal">
            <h3>Oso de Anteojos</h3>
            <p>El oso de anteojos es el único oso nativo de Sudamérica y es considerado un símbolo de la biodiversidad de la región andina.</p>
        </div>
        <!-- Otros mamíferos -->

    </section>

    <section class="animal-category">
        <h2>Reptiles</h2>
        <div class="animal">
            <h3>Tortuga Galápagos</h3>
            <p>La tortuga gigante de las Galápagos es una especie icónica y única en el mundo, conocida por su longevidad y tamaño impresionante.</p>
        </div>
        <div class="animal">
            <h3>Iguana Marina</h3>
            <p>La iguana marina es endémica de las Islas Galápagos y es famosa por su capacidad para nadar en aguas frías.</p>
        </div>
        <!-- Otros reptiles -->

    </section>

    <section class="animal-category">
        <h2>Aves</h2>
        <div class="animal">
            <h3>Cóndor Andino</h3>
            <p>El cóndor andino es una de las aves voladoras más grandes del mundo y es un símbolo de la libertad y la majestuosidad de los Andes.</p>
        </div>
        <div class="animal">
            <h3>Tucán de Pico Arcoíris</h3>
            <p>El tucán de pico arcoíris es conocido por su colorido y distintivo pico, que contrasta con su plumaje negro.</p>
        </div>
        <!-- Otras aves -->

    </section>

    <footer>
        <p>&copy; 2023 Zoológico Naturaleza Viva - Todos los derechos reservados</p>
    </footer>
</body>
</html>