<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<link rel="stylesheet" href="/css/estiloUsuario.css" type="text/css">
	<title>Perfil de Usuario VIP</title>
</head>
<body>
	<header class="header">
		<div class="menu container">
			<a href="#inicio" class="logo"></a>
			<input type="checkbox" id="menu"/>
			<label for="menu">
				<img src="images/menu.png" class="menu-icono" alt=""/>
			</label>
			<nav class="navbar">
				<ul>
					<li><a href="#">Servicios</a>
						<ul class="menu-vertical">
							<li><a href="#tickets"> Tickets y Puntos de venta</a></li>
							<li><a href="#evento"> Eventos</a></li>
						</ul>
					</li>
					<li><a href="/donaciones/donacion">Donaciones</a>
					</li>
					<li><a href="/inicios/principal" class="cerrar-sesion">Cerrar sesión</a>
					</li>
				</ul>
			</nav>
		</div>
		
	    <div class="profile-container">
	    	<form th:action="@{/clientes/usuario}" th:object="${cliente}" th:method="GET">
		        <ion-icon name="contact" class="icon-client"></ion-icon>
		        <div class="profile-name"><span th:text="${cliente.nombre}"></span> <span th:text="${cliente.apellido}"></span> - Cliente VIP</div>
		        <div class="profile-info">
		            <p>Correo: <span th:text="${cliente.correo}"></span></p>
		            <p>Fecha de Nacimiento: <span th:text="${cliente.fechaN}"></span></p>
		            <p>Teléfono: <span th:text="${cliente.telefono}"></span></p>
		        </div>
		        <div class="discounts-container">
		            <h3>Descuentos y Promociones VIP</h3>
		            <div class="discount">10% de descuento en entradas al zoológico</div>
		            <div class="discount">Acceso exclusivo a eventos especiales</div>
		            <div class="discount">Promociones en la tienda de souvenirs</div>
		        </div>
	        </form>
	    </div>
	</header>
	
	<section class="zoo">
		<div class="zoo-content conteiner">
			<h2>Introducción al Zoológico</h2>
			<p class="txt-p">
				El Zoológico Familiar "Naturaleza Viva" es una iniciativa creada
				con pasión y dedicación por parte de nuestra familia, impulsada 
				por el amor y respeto incondicional hacia los animales. 
				Nuestro principal propósito es acercar a la comunidad de Quito 
				y sus alrededores a la fascinante diversidad de animales exóticos 
				que habitan nuestro zoológico.
			</p>
			
			<div class="zoo-group">
				<div class="zoo-1">
					<h4 class="mamifero"></h4>
					<h3>Sección de Mamíferos</h3>
					<p>
						Nuestra sección de mamíferos es un espacio mágico donde podrás
						adentrarte en el fascinante mundo de los mamíferos. 
					</p>
				</div>
				<div class="zoo-1">
					<h4 class="reptil"></h4>
					<h3>Sección de Reptiles</h3>
					<p>
						Adéntrate en nuestra sección de reptiles y descubre la fascinante 
						belleza de estas criaturas de sangre fría.  
					</p>
				</div>
				<div class="zoo-1">
					<h4 class="ave"></h4>
					<h3>Sección de Aves</h3>
					<p>
						Nuestra sección de aves es un paraíso para los amantes de las aves 
						de todos los colores y tamaños. 
					</p>
				</div>
			</div>
			<a href="/inicios/informacion" class="btn-1">Información</a>
		</div>
	</section>
	
	<main class="tickets" id="tickets">
		<div class="tickets-content conteiner">
			
			<h4 class="icon-ticket"></h4><h2>Boletos</h2>
			<div class="tickets-group">
				<div class="tickets-1">
					<img src="images/i1.svg" alt="">
					<h1>0.00$</h1>
					<h3>[ Tarifa completa ]</h3>
					<h6>>> Menores de 6 años</h6>
				</div>
				<div class="tickets-1">
					<img src="images/i2.svg" alt="">
					<h1>3.00$</h1>
					<h3>[ Tarifa reducida ]</h3>
					<h6>>> Menores de 6 a 12 años</h6>
					<h6>>> Tercera edad</h6>
					<h6>>> Capacidades especiales</h6>
				</div>
				<div class="tickets-1">
					<img src="images/i3.svg" alt="">
					<h1>6.00$</h1>
					<h3>[ Tarifa especial ]</h3>
					<h6> >> Resto del publico</h6>
				</div>
			</div>
			<p>
				El zoológico ofrece beneficios especiales para nuestra apreciada comunidad, 
				brindando un descuento del 10% para grupos que oscilan entre diez y veinte 
				personas, un descuento del 20% para grupos con más de veinte personas, y además 
				un descuento del 5% si visitas el zoológico en el día de tu cumpleaños.
			</p>
			<h2>- - - - - - - - - - - Puntos de Venta - - - - - - - - - - -</h2>
			<div class="tickets-group">
		        <div class="tickets-1">
		            <h3>Tienda Principal</h3>
		            <p>Ubicación: Entrada Principal del Zoológico</p>
		            <p>Horario: 9:00 AM - 6:00 PM</p>
		        </div>
		        <div class="tickets-1">
		            <h3>Cafetería Selva Fresca</h3>
		            <p>Ubicación: Área de Descanso</p>
		            <p>Horario: 10:00 AM - 5:00 PM</p>
		        </div>
			</div>
		</div>
	</main>
    
	<section class="evento" id="evento">
		<div class="evento-1">
			<h2>Evento de Introducción de Especies</h2>
			<p>
				En este emocionante evento, damos la bienvenida a nuevas especies a 
				nuestro zoológico. Cada introducción representa un hito en nuestros 
				esfuerzos de conservación y nos brinda la oportunidad de educar a 
				nuestros visitantes sobre la historia y características únicas de cada animal. 
				Es un momento de emoción y esperanza, donde todos somos parte de un esfuerzo 
				colectivo para proteger la biodiversidad.
			</p>
			<a href="/inicios/evento1" class="btn-1">Información</a>
		</div>
		<div class="evento-2"></div>
	</section>
    
	<section class="evento">
		<div class="evento-3"></div>
		<div class="evento-1">
			<h2>Evento de Liberación de Especies</h2>
			<p>
				La liberación de especies es uno de los momentos más conmovedores en nuestro zoológico. 
				Es cuando celebramos el retorno de animales rescatados o rehabilitados a su hábitat natural. 
				Es un momento de reflexión y gratitud, donde honramos el ciclo de la vida y el papel esencial que 
				desempeñamos en la protección de la fauna. 
			</p>
			<a href="/inicios/evento2" class="btn-1">Información</a>
		</div>
	</section>
	 
	<section class="mapa">
		<div class="titulo"><h2>Mapa del Zoológico</h2> </div>
		<div class="mapa-img"></div>
	</section>
	
	<section class="recomendaciones">
        <h2>Recomendaciones para tu Visita</h2>
        <div>
	        <ul>
	            <li>Planifica tu visita con antelación y verifica los horarios de apertura y cierre.</li>
	            <li>Lleva ropa y calzado cómodos para caminar durante tu recorrido.</li>
	            <li>Protégete del sol con protector solar, sombrero y gafas de sol.</li>
	            <li>Lleva una botella de agua reutilizable para mantenerte hidratado.</li>
	            <li>Consulta el mapa del zoológico para planificar tu ruta y no perderte las exhibiciones.</li>
	            <li>Respeta las señales y reglas del zoológico, especialmente en las áreas interactivas.</li>
	            <li>Aprovecha las charlas educativas y actividades para aprender más sobre los animales.</li>
	            <li>Si deseas tomar fotos, respeta las políticas del zoológico y no molestes a los animales.</li>
	            <li>Recoge tu basura y contribuye a mantener limpio el zoológico.</li>
	            <li>Pregunta al personal del zoológico si tienes dudas o necesitas información adicional.</li>
	        </ul>
	        <ul class="img-recomend"></ul>
        </div>
    </section>
	
	<footer class="footer">
		<div class="footer-content container">
			<div class="link">
				<h3>Zoológico Naturaleza Viva</h3>
				<ul>
					<li>
						<ion-icon class="icon" name="logo-twitter"></ion-icon>
						<a href="#">Twitter</a>
					</li>
					<li>
						<ion-icon class="icon" name="logo-facebook"></ion-icon>
						<a href="#">Youtube</a>
					</li>
					<li>
						<ion-icon class="icon" name="logo-instagram"></ion-icon>
						<a href="#">Instagram</a>
					</li>
					<li>
						<ion-icon class="icon" name="logo-facebook"></ion-icon>
						<a href="#">Facebook</a>
					</li>
				</ul>
			</div>
			<div class="link">
				<h3>Contactos</h3>
				<ul>
					<li class="info">Email: info@zooNaturalezaViva.org</li>
					<li class="info">Teléfono: 900-801-5888</li>
					<li class="info">Horarios: Martes a Domingo de 10 a 19 horas.</li>
					<li class="info">Ubicación: Av. Universitaria, La Gasca, Quito</li>
				</ul>
			</div>
			<div class="link">
				<h3>Políticas</h3>
				<ul>
					<li><a href="/inicios/politicaPrivacidad">Política de privacidad</a></li>
					<li><a href="/inicios/terminosUso">Términos de uso</a></li>
				</ul>
			</div>
		</div>
	</footer>
    
	<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>

</html>