<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/estiloA.css">
</head>

<body>
	<header class="header">
		<div class="header-content container" id="inicio">
			<h1>Zoológico "Naturaleza Viva"</h1>
		</div>
	</header>
	<div>
		<nav>
			<ul class="menu-horizontal">
				<h1 href="#">Bienvenido "Nombre admin"</h1>
				<li><a href="#">Nómina</a>
					<ul class="menu-vertical">
						<li><a href="#">Registrar Empleado</a></li>
						<li><a href="#">Mostrar Empeados</a></li>
						<li><a href="#">Modificar Empleado</a></li>
					</ul>
				</li>
				<li><a href="#">Animales</a>
					<ul class="menu-vertical">
						<li><a href="#">Registrar Animal</a></li>
						<li><a href="#">Mostrar Animal</a></li>
						<li><a href="#">Modificar Animal</a></li>
					</ul>
				</li>
				<li><a href="#">Proveedores</a>
					<ul class="menu-vertical">
						<li><a href="#">Registrar Proveedor</a></li>
						<li><a href="#">Mostrar Proveedor</a></li>
						<li><a href="#">Modificar Proveedor</a></li>
					</ul>
				</li>
				<li><a href="#">Inventario</a>
					<ul class="menu-vertical">
						<li><a href="#">Ingresar Producto</a></li>
						<li><a href="#">Mostrar Inventario</a></li>
						<li><a href="#">Retirar Inventario</a></li>
					</ul>
				</li>
				<li><a href="#">Perfil</a></li>
			</ul>
		</nav>
	</div>

	<div class="header-content container">
		<h1>Horario</h1>
	</div>

	<div class="header-content container">
		<table>
			<thead>
				<tr>
					<th>Hora</th>
					<th>Lunes</th>
					<th>Martes</th>
					<th>Miércoles</th>
					<th>Jueves</th>
					<th>Viernes</th>
					<th>Sábado</th>
					<th>Domingo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>7:00-9:00</th>
					<th></th>
					<th>X</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th>9:00-11:00</th>
					<th></th>
					<th></th>
					<th></th>
					<th>X</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th>11:00-13:00</th>
					<th></th>
					<th>X</th>
					<th>X</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th>13:00-14:00</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th>14:00-16:00</th>
					<th>X</th>
					<th>X</th>
					<th></th>
					<th></th>
					<th></th>
					<th>X</th>
					<th></th>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="header-content container">
		<h1>Asignaciones</h1>
	</div>

	<div class="header-content container">
		<table>
			<thead>
				<tr>
					<th>N°</th>
					<th>Código</th>
					<th>Descripción</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>1</th>
					<th>341c6</th>
					<th>Ingreso de nuevos empleados</th>
				</tr>
				<tr>
					<th>2</th>
					<th>563v8</th>
					<th>Hablar con proveedores</th>
				</tr>

			</tbody>
		</table>
	</div>

</body>

</html>