<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<link rel="stylesheet" href="/css/estiloIE.css" type="text/css">
	<title>Menu desplegable</title>
</head>
<body>
    <header>
        <h2><a href="/inicios/principal" class="logo"></a></h2>
    </header>
    
    <section class="event-description">
        <div class="container">
            <h1>¡Introducción de Nuevas Especies!</h1>
            <p class="event-purpose">En el Zoológico Naturaleza Viva, estamos emocionados de anunciar la introducción de varias nuevas especies exóticas a nuestras instalaciones. Nuestro objetivo es brindar a nuestros visitantes una experiencia única y educativa al explorar la diversidad de la vida silvestre de diferentes partes del mundo.</p>
            <p class="event-content">Durante este emocionante evento, los visitantes tendrán la oportunidad de observar de cerca a estas fascinantes especies y aprender sobre sus hábitats naturales, comportamientos y la importancia de su conservación. Nuestro equipo de expertos estará disponible para brindar información detallada y responder a cualquier pregunta que los visitantes puedan tener.</p>
            <p class="event-highlights">Características destacadas del evento:
            <p> </p>
                <ul>
                    <li>Recorridos guiados por biólogos y conservacionistas.</li>
                    <li>Exhibiciones interactivas para aprender sobre las adaptaciones únicas de cada especie.</li>
                    <li>Charlas educativas sobre la conservación y los esfuerzos de preservación de estas especies.</li>
                    <li>Sesiones de alimentación supervisadas por expertos.</li>
                </ul>
            </p>
            <p class="event-benefits">Beneficios para los visitantes:
                <ul>
                    <li>Una oportunidad única de observar y aprender sobre especies exóticas en un entorno seguro y educativo.</li>
                    <li>Contribuir al apoyo de la conservación de la vida silvestre al visitar el zoológico.</li>
                    <li>Conectar con la importancia de la biodiversidad y la preservación de hábitats.</li>
                    <li>Disfrutar de una experiencia enriquecedora para toda la familia.</li>
                </ul>
            </p>
        </div>
    </section>
    
    <footer>
        <p>&copy; 2023 Zoológico Naturaleza Viva. Todos los derechos reservados.</p>
    </footer>
</body>
</html>