<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<link rel="stylesheet" href="/css/estiloPoliticas.css" type="text/css">
	<title>Políticas de Privacidad - Zoológico Naturaleza Viva</title>
</head>
<body>
    <header>
    	<h2><a href="/inicios/principal" class="logo"></a></h2>
    </header>
    <main>
        <h1>Políticas de Privacidad</h1>
        <section class="privacy-policy">
            <h2>Recopilación de Información</h2>
            <p>El Zoológico Naturaleza Viva recopila información personal limitada, como nombre y dirección de correo electrónico, solo con el propósito de mejorar su experiencia en nuestro sitio web y brindarle información relevante.</p>
        </section>
        
        <section class="privacy-policy">
            <h2>Uso de la Información</h2>
            <p>La información recopilada se utiliza para enviar actualizaciones sobre eventos, promociones y noticias relacionadas con el zoológico. No compartiremos su información con terceros sin su consentimiento.</p>
        </section>
        
        <section class="privacy-policy">
            <h2>Seguridad de los Datos</h2>
            <p>Implementamos medidas de seguridad para proteger su información personal y garantizar su privacidad. Sin embargo, no podemos garantizar la seguridad completa de la información transmitida por Internet.</p>
        </section>
        
        <!-- ... Más secciones de políticas de privacidad ... -->
    </main>
    <footer>
        <p>&copy; 2023 Zoológico Naturaleza Viva. Todos los derechos reservados.</p>
    </footer>
</body>
</html>